/Microchip-University/Microcontrollers 101/Led-blink/Led-Blink.X/dist/
/Microchip-University/Microcontrollers 101/Led-blink/Led-Blink.X/build/
/Microchip-University/Microcontrollers 101/Led-blink/UART-led.X/build/
/Microchip-University/Microcontrollers 101/Led-blink/UART-led.X/dist/
/Practicas/Practica 0 ALU/Practica0_ALU.X/build/
/Practicas/Pactica 1 BASE/Practica1_base.X/dist/
/Practicas/Pactica 1 BASE/Practica1_base.X/build/
/Practicas/Practica 1 PORT/Practica1PORT.X/dist/
/Practicas/Practica 1 PORT/Practica1PORT.X/build/