/Microchip-University/Microcontrollers 101/Led-blink/Led-Blink.X/dist/
/Microchip-University/Microcontrollers 101/Led-blink/Led-Blink.X/build/
/Microchip-University/Microcontrollers 101/Led-blink/UART-led.X/build/
/Microchip-University/Microcontrollers 101/Led-blink/UART-led.X/dist/
/Practicas/Practica 0 ALU/Practica0_ALU.X/build/
/Practicas/Pactica 1 BASE/Practica1_base.X/dist/
/Practicas/Pactica 1 BASE/Practica1_base.X/build/
/Practicas/Practica 1 PORT/Practica1PORT.X/dist/
/Practicas/Practica 1 PORT/Practica1PORT.X/build/
/Practicas_EXTRAS/Practica 6 Turin/Turin.X/build/
/Practicas_EXTRAS/Practica 6 Turin/Turin.X/dist/
/Practicas/C-Test/CTest.X/build/
/Practicas/C-Test/CTest.X/dist/
/Practicas_EXTRAS/Fechas C/Fechas.X/build/
/Practicas_EXTRAS/Fechas C/Fechas.X/dist/
/Practicas_EXTRAS/Test-coder/TEST.X/build/
/Practicas_EXTRAS/Test-coder/TEST.X/dist/
/Practicas/Practica 4 Contrasena/Contrasena.X/build/
/Practicas/Practica 4 Contrasena/Contrasena.X/dist/
/Practicas_EXTRAS/String-Combinational C/CombiString.X/build/
/Practicas_EXTRAS/String-Combinational C/CombiString.X/dist/
/Practicas/Practica 8 TIMERS1/Timers_multi.X/build/
/Practicas/Practica 8 TIMERS1/Timers_multi.X/dist/
/Practicas/Practica 7 Hex 7 Segmentos/7Seg-hex.X/build/
/Practicas/Practica 7 Hex 7 Segmentos/7Seg-hex.X/dist/
/Practicas/Practica 9 Hex Automatico/Hex_auto.X/build/
/Practicas/Practica 9 Hex Automatico/Hex_auto.X/dist/
/Practicas/Practica 5 Nombre/Nombre.X/build/
/Practicas/Practica 5 Nombre/Nombre.X/dist/
/Practicas/Practica 6 Frase/Frase.X/dist/
/Practicas/Practica 6 Frase/Frase.X/build/
/Practicas/Practica 10 Nombre Automatico/Nombre.X/dist/
/Practicas/Practica 10 Nombre Automatico/Nombre.X/build/
/Practicas/Practica 11 Octal Automatico/Octal.X/dist/
/Practicas/Practica 11 Octal Automatico/Octal.X/build/
/Practicas/Practica 12 Decimal Automatico/Decimal.X/build/
/Practicas/Practica 12 Decimal Automatico/Decimal.X/dist/
/Practicas/Practica 14 Boton Decimal/Button.X/build/
/Practicas/Practica 14 Boton Decimal/Button.X/dist/
/Practicas/Practica 16 Multiplexor 2/Multiplex_2.X/dist/
/Practicas/Practica 16 Multiplexor 2/Multiplex_2.X/build/
/Practicas/Practica 16<3 Multiplexor 2/Multiplexor.X/build/
/Practicas/Practica 16<3 Multiplexor 2/Multiplexor.X/dist/
/Practicas/Practica 17 Boton 0-99/Boton_99.X/build/
/Practicas/Practica 17 Boton 0-99/Boton_99.X/dist/
/Practicas/Practica 15 Multiplexor 1/Multiplexor_1.X/build/
/Practicas/Practica 15 Multiplexor 1/Multiplexor_1.X/dist/
/Practicas_C/Pares-Impares-CUSTOM/Pares-impares-CUSTOM.X/build/
/Practicas_C/Pares-Impares-CUSTOM/Pares-impares-CUSTOM.X/dist/
/Practicas_C/4-bits-CUSTOM/4-bits-CUSTOM.X/build/
/Practicas_C/4-bits-CUSTOM/4-bits-CUSTOM.X/dist/
/Practicas_C/Contador-CUSTOM/Contador-Decimal.X/dist/
/Practicas_C/Contador-CUSTOM/Contador-Decimal.X/build/
/Practicas_C/Letrero-CUSTOM/Letrero.X/dist/
/Practicas_C/Letrero-CUSTOM/Letrero.X/build/
/Practicas_EXTRAS/LCD-test/LDC-test.X/build/
/Practicas_EXTRAS/LCD-test/LDC-test.X/dist/