/Microchip-University/Microcontrollers 101/Led-blink/Led-Blink.X/dist/
/Microchip-University/Microcontrollers 101/Led-blink/Led-Blink.X/build/
/Microchip-University/Microcontrollers 101/Led-blink/UART-led.X/build/
/Microchip-University/Microcontrollers 101/Led-blink/UART-led.X/dist/
/Practicas/Practica 0 ALU/Practica0_ALU.X/build/
/Practicas/Pactica 1 BASE/Practica1_base.X/dist/
/Practicas/Pactica 1 BASE/Practica1_base.X/build/
/Practicas/Practica 1 PORT/Practica1PORT.X/dist/
/Practicas/Practica 1 PORT/Practica1PORT.X/build/
/Practicas_EXTRAS/Practica 6 Turin/Turin.X/build/
/Practicas_EXTRAS/Practica 6 Turin/Turin.X/dist/
/Practicas/C-Test/CTest.X/build/
/Practicas/C-Test/CTest.X/dist/
/Practicas_EXTRAS/Fechas C/Fechas.X/build/
/Practicas_EXTRAS/Fechas C/Fechas.X/dist/
/Practicas_EXTRAS/Test-coder/TEST.X/build/
/Practicas_EXTRAS/Test-coder/TEST.X/dist/
/Practicas/Practica 4 Contrasena/Contrasena.X/build/
/Practicas/Practica 4 Contrasena/Contrasena.X/dist/
/Practicas_EXTRAS/String-Combinational C/CombiString.X/build/
/Practicas_EXTRAS/String-Combinational C/CombiString.X/dist/